.previews{
    margin-top: 16%;
}

.preview1{
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
    padding-right:90px;
    padding-top:20px;
    padding-bottom: 150px;
    background-size: auto;
    background-image: url("/src/images/bg/Image\ 28.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
   
}
.text{
    color:white;
    font-family: Poppins;
    width:350px;
    padding-left: 11%;
    padding-top: 70px;
}
.text h4{
    font-weight: normal;
    font-size: 21px;
}
.text h1{
    font-weight:500;
}
.text button{
    height:6vh;
    width:70%;
    color:white;
    background-color: #0097E0;
    outline:none;
    border:none;
    font-family: Poppins;
    font-weight: 500;
}
.video{
    padding-right: 47px;
   
}

.preview2{
    background-image: url('/src/images/bg/Image\ 26.png');
    background-size:100% 100%;
    font-family: Poppins;
    color:white;
    text-align:center;
    padding-top: 45%;
    padding-bottom: 50px;
    padding-right: 15%;
    padding-left:15%;
    
}
